maven_docker
**/docs
**/nohup.out
*/.gitignore
**/logs/*
**/.classpath
**/.project
**/.settings/**
**/target/**
**/doc/*
**/config/**
**/application.properties
**/application.conf
cassandramodels/
**/*.out
**/.DS_Store
**/*.iml
**/*.ipr
**/*.iws
**/.idea
