<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <Logger name="com.tmobile.opensource.casquatch" level="TRACE"/>
  <Logger name="com.datastax.driver" level="ERROR" />
  <Logger name="com.tmobile.opensource.casquatch.DatabaseCache" level="ERROR"/>

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
